.block-layout.block-layout .weblet_blog-entry-heading,
.block-layout.block-layout .title {
    text-transform: var(--title-case);
    font-family:var(--custom-title-font-family, var(--title-font-family));
    font-weight:var(--title-weight);
    font-style:var(--title-style);
    letter-spacing:var(--title-spacing);
}

.block-layout.block-layout .text p {
    font-weight:var(--base-weight);
}

.block-layout.block-layout .sub-title {
    text-transform: var(--sub-title-case);
    font-family:var(--custom-sub-title-font-family, var(--sub-title-font-family));
    font-weight:var(--sub-title-weight);
    font-style:var(--sub-title-style);
    letter-spacing:var(--sub-title-spacing);
}

.block-layout .box-form .form-buttons .label,
.block-layout .button-list label {
    font-family: var(--custom-button-font-family, var(--button-font-family));
    text-transform: var(--button-case);
    font-weight: var(--button-weight);
    font-style: var(--button-style);
    letter-spacing: var(--button-spacing);
}

body.blocks-site {
    font-family:var(--custom-base-font-family, var(--body-font-family));
} 

.block-layout .title-reverse .sub-title {
    margin-bottom:0;
}

.block-layout.inverted .has-bg-color:not(.has-dark-bg) .text a,
.block-layout .text a {
    color: var(--link-color-light, var(--g-accent-color));
}
.block-layout .has-dark-bg .text a,
.block-layout.inverted .text a {
    color: var(--link-color-dark, var(--g-accent-color));
}

/* GLOBAL BUTTONS STYLING */

/* filled */

.bts-filled .block-layout .button-list:not(.icon-only) .default-style {
    background-color: var(--fl-button-bg-color, var(--panel-color, var(--g-accent-color)));
    border-color: transparent;
}

.bts-filled .block-layout .button-list:not(.icon-only) .default-style label {
    color: var(--fl-button-label-color,var(--g-inverted-text-color));
}

/* filled with accent-bg */

.bts-filled .block-layout.accent-bg .button-list:not(.icon-only) .default-style {
    background-color: var(--fl-button-bg-color,var(--panel-color,var(--g-inverted-text-color)));
}

.bts-filled .block-layout.accent-bg .button-list:not(.icon-only) .default-style label {
    color: var(--fl-button-label-color,var(--g-accent-color));
}

/* plain */

.bts-plain .block-layout .button-list:not(.icon-only) .default-style {
    padding: 0;
    background: none;
    border-radius: 0;
}

.bts-plain .block-layout .button-list:not(.icon-only) .default-style label {
    color: var(--fl-button-label-color,var(--g-accent-color));
}

/* plain with accent-bg or inverted */

.bts-plain .block-layout .button-list:not(.icon-only) .default-style {
    padding: 0;
    background: none;
    border:none;
}

.bts-plain .block-layout.accent-bg .button-list:not(.icon-only) .default-style label,
.bts-plain .block-layout.inverted .button-list:not(.icon-only) .default-style label {
    color: var(--fl-button-label-color, var(--g-inverted-text-color));
} 


/* SHALLOW BLOCK BASE TITLES */

.block-layout.shallow-block .titles + .text {
    margin-top: 1rem;
}
.shallow-block .sub-title,
.shallow-block .title {
    margin-bottom: 1rem;
}
.shallow-block .sub-title {
    font-size: var(--text-small);
    letter-spacing: 0.1rem;
    /* line-height: 1; */
}
.shallow-block .sub-title:not(.text-size) {
    font-size: var(--text-small);
}
.shallow-block .title-underline .sub-title {
    line-height: 1.5;
}
.shallow-block .title-underline .title:after {
    content: "";
    width: 8rem;
    height: 2px;
    background-color: var(--title-underline-color, var(--g-accent-color));
    display: block;
    margin-top: 1rem;
}
.shallow-block .title-reverse {
    display: flex;
    flex-direction: column-reverse;
}
.shallow-block .title-underline .title.title[style*="center"]::after,
.shallow-block .content-center .title-underline .title:after {
    margin-left: auto;
    margin-right: auto;
}
.shallow-block .title-underline .title.title[style*="right"]::after,
.shallow-block .content-right .title-underline .title:after {
    margin-left: auto;
    margin-right: 0;
}
.shallow-block .title-underline .title.title[style*="left"]::after,
.shallow-block .content-left .title-underline .title:after {
    margin-left: 0;
    margin-right: auto;
}

/* SHALLOW BLOCK BASE CONTENT ALIGNMENT */
.shallow-block .image-container,
.shallow-block .title,
.shallow-block .content-left .image-container,
.shallow-block .content-left .title,
.shallow-block .content-left {
    text-align: left;
}
.shallow-block .content-left .button-list {
    justify-content: flex-start;
}
.shallow-block .content-center .image-container,
.shallow-block .content-center .title,
.shallow-block .content-center {
    text-align: center;
}
.shallow-block .content-center .button-list {
    justify-content: center;
}
.shallow-block .content-right .image-container,
.shallow-block .content-right .title,
.shallow-block .content-right {
    text-align: right;
}
.shallow-block .content-right .button-list {
    justify-content: flex-end;
}
